{% extends "base.html" %}

{% block content %}
<h1>Liste des étudiants</h1>

<table>
    <thead>
        <tr>
            <th>Code étudiant</th>
            <th>Nom</th>
            <th>Examen intra</th>
            <th>Examen final</th>
            <th>Projet de session</th>
            <th>Moyenne</th>
            <th>Resultat</th>
        </tr>
    </thead>
    <tbody>
        {% for e in etudiants %}
            <tr>
                <td>{{ e[0] }}</td>
                <td>{{ e[1] }}</td>
                <td>{{ e[2] }}</td>
                <td>{{ e[3] }}</td>
                <td>{{ e[4] }}</td>
                <td>{{ e[5] }}</td>
                <td>{{ e[6] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

{% endwith %}

{% endblock %}